<div class="main-header">

    <div class="container-fluid">
		<div class="row">
			<div class="col-md-6"><div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="main-title">
                Thống kê ngày
            </div></div>
			<div class="col-md-6">  <div class="text-right">
                <a href="/thongke/theothang" type="button" class="btn btn-sm btn-primary btn-create">Theo tháng</a>
            </div></div>
		</div>
	</div>

</div>
<%= render 'form' %>