<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"><p id="notice"><%= notice %></p></div>
		<div class="col-md-4"></div>
		
	</div>
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
