<div class="hero-slider-container mb-35">
    <div class="hero-slider-one">
        <div class="hero-slider-item slider-bg-1">
            <div class="slider-content d-flex flex-column justify-content-center align-items-center">
                <h1>Toco Toco</h1>
                <p>get fresh food from our firm to your table</p>
                <a href="/" class="slider-btn">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>
<!--=======  sản phẩm theo category  =======-->
<div class="slider tab-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-slider-wrapper">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
                                aria-selected="true">Featured</a>
                            <a class="nav-item nav-link" id="new-arrival-tab" data-toggle="tab" href="#new-arrivals" role="tab"
                                aria-selected="false">New Arrival</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        
                        <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                            <div class="tab-slider-container">
                                <!--=======  1 sản phẩm  =======-->
                                <div class="single-tab-slider-item">
                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <span class="onsale">Sale!</span>
                                                <img src="/images/thucuong/image/hongtra.PNG" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a class="active" href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="main-price">$89.00</span>
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--======= end 1 sản phẩm  =======-->
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="new-arrivals" role="tabpanel" aria-labelledby="new-arrival-tab">
                            <div class="tab-slider-container">
                                <div class="single-tab-slider-item">
                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <img src="assets/images/products/product03.jpg" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                                <a href="#" data-tooltip="Quick view" data-toggle="modal"
                                                    data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <span class="onsale">Sale!</span>
                                                <img src="assets/images/products/product04.jpg" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                                <a href="#" data-tooltip="Quick view" data-toggle="modal"
                                                    data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="main-price">$89.00</span>
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="single-tab-slider-item">
                                    
                                    <div class="gf-product gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <span class="onsale">Sale!</span>
                                                <img src="assets/images/products/product01.jpg" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a class="active" href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                                <a href="#" data-tooltip="Quick view" data-toggle="modal"
                                                    data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="main-price">$89.00</span>
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <img src="assets/images/products/product02.jpg" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                                <a href="#" data-tooltip="Quick view" data-toggle="modal"
                                                    data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="single-tab-slider-item">

                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <span class="onsale">Sale!</span>
                                                <img src="assets/images/products/product05.jpg" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                                <a href="#" data-tooltip="Quick view" data-toggle="modal"
                                                    data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="main-price">$89.00</span>
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <img src="assets/images/products/product06.jpg" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a class="active" href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                                <a href="#" data-tooltip="Quick view" data-toggle="modal"
                                                    data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=======  Danh mục bài viết  =======-->
<div class="slider blog-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>Khuyến mãi hiện có</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="blog-slider-container pt-30 pb-30 pr-30 pl-30">

                    <div class="col">
                        <div class="single-post-wrapper">
                            <div class="post-thumb">
                                <a href="blog-post-audio-format.html">
                                    <img src="/images/thucuong/image/hongtra.PNG" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="post-meta">
                                    <div class="post-date">29.09.2019</div>
                                </div>
                                <h3 class="post-title">Blog with <i class="fa fa-file-audio-o" aria-hidden="true"></i></h3>
                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>