<div class="hero-slider-container mb-35">
    <div class="hero-slider-one">
        <div class="hero-slider-item slider-bg-1">
            <div class="slider-content d-flex flex-column justify-content-center align-items-center">
                <h1>Toco Toco</h1>
                <p>get fresh food from our firm to your table</p>
                <a href="/" class="slider-btn">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>
<!--=======  sản phẩm theo category  =======-->
<div class="slider tab-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-slider-wrapper">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="new-arrival-tab" data-toggle="tab" href="#new-arrivals" role="tab"
                                aria-selected="false">New Arrival</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">     
                        <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                            <div class="tab-slider-container">
                                <!--=======  1 sản phẩm  =======-->
                                <div class="single-tab-slider-item">
                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <span class="onsale">Sale!</span>
                                                <img src="images/thucuong/image/trasuavinhai.PNG" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a class="active" href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="main-price">$89.00</span>
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--======= end 1 sản phẩm  =======-->
                                <div class="single-tab-slider-item">
                                    <div class="gf-product tab-slider-sub-product">
                                        <div class="image">
                                            <a href="single-product.html">
                                                <img src="images/thucuong/image/trasuavinhai.PNG" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-hover-icons">
                                                <a class="active" href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="shop-left-sidebar.html">Fast Foods</a>,
                                                <a href="shop-left-sidebar.html">Vegetables</a>
                                            </div>
                                            <h3 class="product-title"><a href="single-product.html">Sed tempor ehicula non commodo</a></h3>
                                            <div class="price-box">
                                                <span class="discounted-price">$80.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=======  Danh mục bài viết  =======-->
<div class="slider blog-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>Khuyến mãi hiện có</h3>
                </div>
            </div>
        </div>

        <div class="row">
				<div class="col-lg-12">
					<div class="blog-slider-container pt-30 pb-30 pr-30 pl-30">
						<div class="col">
							<div class="single-post-wrapper">
								<div class="post-thumb">
									<a href="blog-post-image-format.html">
										<img src="images/blog-image/blog01.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="post-info">
									<div class=" post-meta">
										<div class="post-date">29.09.2019</div>
										<div class="post-date">29.09.2019</div>
									</div>
									<h3 class="post-title">Blog image post</h3>
									
								</div>
							</div>
						</div>

						<div class="col">
							<div class="single-post-wrapper">
								<div class="post-thumb">
									<a href="blog-post-image-gallery.html">
										<img src="images/images/blog-image/blog02.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="post-info">
									<div class="post-meta">
										<div class="post-date">29.09.2019</div>
									</div>
									<h3 class="post-title"><a href="blog-post-image-gallery.html">Post with gallery</a></h3>
									<a href="blog-post-image-gallery.html" class="readmore-btn">continue <i
											class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="single-post-wrapper">
								<div class="post-thumb">
									<a href="blog-post-audio-format.html">
										<img src="images/images/blog-image/blog03.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="post-info">
									<div class="post-meta">
										<div class="post-date">29.09.2019</div>
									</div>
									<h3 class="post-title"><a href="blog-post-audio-format.html">Blog with audio</a></h3>
									<a href="blog-post-audio-format.html" class="readmore-btn">continue <i
											class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="single-post-wrapper">
								<div class="post-thumb">
									<a href="blog-post-video-format.html">
										<img src="images/images/blog-image/blog04.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="post-info">
									<div class="post-meta">
										<div class="post-date">29.09.2019</div>
									</div>
									<h3 class="post-title"><a href="blog-post-video-format.html">Blog with video</a></h3>
									<a href="blog-post-video-format.html" class="readmore-btn">continue <i
											class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
    </div>
</div>