<div class="main-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6"><div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="main-title">
                Danh Sách khuyến Mãi
            </div></div>
			<div class="col-md-6">  <div class="text-right">
                <a href="khuyenmais/new" type="button" class="btn btn-sm btn-primary btn-create">Thêm mới</a>
            </div></div>
		</div>
	</div>
            
          
        </div>
        <div class="main-content">
            <div class="box">
                <div class="box-body overflow-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên khuyến mãi</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @khuyenmais.each do |khuyenmai|%>
                                <tr>
                                    
                                    <td>#<%= khuyenmai.id%></td>
                                    <td>
                                        <div class="order-owner">
                                            <span><%= khuyenmai.tendot%></span>
                                        </div>
                                    </td>
                                    <td><%= khuyenmai.ngayBD%></td>
                                    <td><%= khuyenmai.ngayKT%></td>
                                    
                                    <% if khuyenmai.ngayBD <= Time.now%>
                                        <%if khuyenmai.ngayKT >= Time.now%>
                                            <% @khuyenmaiy = Khuyenmai.find(khuyenmai.id)%>
                                        <%end%>
                                    <%end%>
                                   
                                    <% if (@khuyenmaiy != nil)%>
                                     <td>
                                        <a href="promation-new.html"><span class="order-update">
                                               On
                                            </span></a>
                                        
                                        </td>
                                    <%else%>
                                        <td>
                                            <a href="promation-new.html"><span >
                                                   Off
                                                </span></a>
                                            
                                        </td>
                                    <%end%>
                                   
                                    
                                </tr>
                            <%end%>
                            

                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>